<link href='../../public/css/application.css' rel='stylesheet' type='text/css'>
<title>Welcome To Chitter</title>
<h1>Please sign in to chitter</h1>
<div id="hi">
<form action='/sessions' method='post'>
  <label for='email'>
    Email: <input name='email' type='email'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <input type='submit' value='Sign in'>
</form>
</div>
