<link href='../../public/css/application.css' rel='stylesheet' type='text/css'>
<title>Welcome To Chitter</title>
<ul id='links'>
	<% @links.each do |link| %>
		<li>
			<%= current_user.email %> Message: <%= link.message %>
		</li>
	<% end %>
	<form action='/links/new' method='post'>
	  <input type='submit' value='post a message'>
	</form>
</ul>
